@tailwind base;
@tailwind components;
@tailwind utilities;


/* * {
    background-image: url('https://external-preview.redd.it/odqgKwzacwZw_9VTCnFXkBhVcAMCX5UUb_rkIiSpzf4.jpg?width=1080&crop=smart&auto=webp&s=6cea90ff108c87dc9ab5ca32ad2a3ac47ef0b9dc');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  } */
  .custom-placeholder::placeholder {
    color: #080808;
    opacity: 1;
  }
  
  